[Bug]-[560]:Allow underscore in API queries URL

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When I configure an URL with an underscore character in an API URL, I get an error with status 5000 "Host not allowed.". I also notice that the "url" attribute in the error excludes the domain including the undercore

**Examples**

URL with underscore
![image](https://user-images.githubusercontent.com/56550952/158885374-42fbef15-fcd4-4dac-a3f6-a91ed6fb7e94.png)

URL without undercore (URL not valid but but please notice the "url" attribute in the error)
![image](https://user-images.githubusercontent.com/56550952/158885831-3c1ff0b5-6824-43b5-9ae5-a186fc435f14.png)



### Steps To Reproduce

1. Add a new API Datasource
2. Enter an URL with an underscore (for example http://with_underscore/graphql)
3. Run the query

### Public Sample App

_No response_

### Version

Cloud 1.6.15

@micael-pn AFAIK underscores are not allowed inside URLs so this wouldn't be a valid API call. Could you tell me how does your API have an underscore in it?

@Nikhil-Nandagopal Thank you for your help

According to [RFC 3986 section 2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3), underscores seem to be authorized in URIs : 

> Characters that are allowed in a URI but do not have a reserved purpose are called unreserved.  These include uppercase and lowercase letters, decimal digits, hyphen, period, underscore, and tilde.

About our use case : we use appsmith for internal apps (thank you for this great tool by the way). Our stack is deployed on a Swarm cluster. Each internal microservice is available on our private network with URLs that look like `http://{swarm_stack}_{stack_service}`. 
For example : if we have a stack named `users` and a service named `users-service` that exposes an API, this API will be exposed in our private network with the URL `http://users_users-service/`.

Thanks, Michael for the feature request. Unfortunately, the underscore is rejected by standard Java libraries, and circumventing that would be non-trivial. We will keep this issue open to see if there is more interest from other users.

I've just run into this as well. I want to be able to query other docker compose services from appsmith (and the hosts have an underscore in them).

6m usage of REST API: 5600
Assume 5% of users need this: 280

## Stats
| Stat | Values |
| ------------- | ------------- |
| Reach     | 280 |
| Effort (months)  | 0.25 |

Closing this issue. Please check the notion doc for more ref: https://www.notion.so/appsmith/API-URL-Underscore-Character-1153a3f822ae4c1db2973e815c60643c